//
// base
//
@import 'colors';
@import 'fonts';
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  color: $color-black;
  font-size: $font-size-md;
  margin: 0;
  min-width: 300px;
  padding: 0;
}

//test class
.red {
  border: 1px solid red;
}
