@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: black;
  font-size: 1.6rem;
  font-family: 'Tienne', serif;
  margin: 0;
  min-width: 300px;
  padding: 0; }

p {
  font-family: 'Open Sans', sans-serif; }

.red {
  border: 1px solid red; }

.container {
  width: 100%;
  margin: 0 auto; }

@media screen and (min-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto; } }

@media screen and (min-width: 992px) {
  .container {
    width: 94%;
    margin: 0 auto; }
  .container-main {
    display: flex;
    flex-direction: row;
    margin: 6rem 0; }
  .container-side {
    padding: 0 1rem; }
  .main-content {
    width: 76%;
    margin: 0 auto; } }

.ani-logo-in {
  animation-name: logo-in-animation;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes logo-in-animation {
  0% {
    transform: translateY(200px); }
  80% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

.btn {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: #fff 0 1px 1px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(60deg, #ff6666 50%, #ff9999 50%);
  color: #401919;
  border: 1px solid red; }

.btn:hover {
  text-decoration: none;
  background: linear-gradient(60deg, #ff4d4d 70%, #ff8080 30%); }

.menu {
  background-color: white;
  display: flex;
  flex-direction: column; }

.menu__img-container {
  align-items: center;
  background-color: black;
  background: linear-gradient(180deg, rgba(52, 172, 152, 0.5) 30%, #EC6635 30%);
  border: 10px solid black;
  border-radius: 50%;
  display: flex;
  height: 10rem;
  justify-content: center;
  position: relative;
  width: 10rem;
  transform: translateY(20rem); }

/* possible different logo design using ::after
.menu__img-container:after {
  content: "";
  display: block;
  border-radius: 50%;
  height: 10rem;
  left: calc(50% - 5rem);
  position: absolute;
  width: 10rem;
  z-index: -2;
  background: linear-gradient(90deg, rgba($color-green ,0.5) 50%, $color-rust 50% );
}
*/
.menu__img-container__img {
  color: white;
  display: inline-block;
  font-size: 2.6rem;
  margin: 2rem 0;
  text-transform: capitalize; }

.menu__link {
  color: #34AC98;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color;
  font-size: 1.2rem; }

.menu__link:hover {
  color: #EC6635;
  text-decoration: none; }

.menu__link__icon {
  color: black;
  font-size: 2.6rem;
  display: none; }

.menu__section {
  display: flex;
  justify-content: space-around;
  padding: 1.6rem 0.6rem; }

.menu__section--border-bottom {
  border-bottom: 1px solid rgba(229, 229, 229, 0.5); }

@media screen and (min-width: 480px) {
  .menu--sm {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
  .menu__section--border-bottom {
    border-bottom: 0; }
  .menu__section--left {
    align-self: flex-start;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    order: 1; }
  .menu__section--right {
    order: 2;
    flex: 2 1 auto; } }

@media screen and (min-width: 768px) {
  .menu__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem; }
  .menu__link:hover .menu__link__icon {
    transform: translateY(0.2rem); }
  .menu__link__icon {
    transition: transition-transform-default;
    display: flex;
    padding: 0.5rem 0; } }

@media screen and (min-width: 992px) {
  .menu {
    background-color: white;
    display: flex;
    flex-direction: column; }
  .menu__img-container {
    height: 12rem;
    width: 12rem; }
  .menu__link {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: flex-start;
    margin: 1rem 0; }
  .menu__link:hover .menu__link__icon {
    transform: translateX(0.2rem); }
  .menu__link__icon {
    margin: 0 1rem; }
  .menu__section {
    background-color: white; }
  .menu__section--left {
    align-self: center;
    padding: 0; }
  .menu__section--right {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20; } }

.feature__credit {
  color: #AAAAAA;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  text-align: right; }

.feature__img-container {
  background-color: #E5E5E5;
  max-height: 24rem;
  min-height: 24rem;
  overflow: hidden;
  width: 100%; }

.feature__img-container__img {
  width: 100%; }

.feature__link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
  bottom: 0;
  position: absolute;
  width: 100%; }

.feature__link:hover {
  opacity: 0.7; }

.feature__link__title {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 1.6rem;
  padding: 1rem;
  text-transform: capitalize; }

.feature__link__description {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 1rem; }

.feature__section {
  position: relative; }

@media screen and (min-width: 768px) {
  .feature__credit {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #333333;
    display: inline-block;
    left: 75%;
    padding: 0.5rem;
    position: relative;
    transform: translateY(-120%); }
  .feature__link {
    bottom: 25%;
    width: auto; }
  .feature__link__title {
    background-color: white;
    display: inline-block;
    font-size: 2.6rem; }
  .feature__link__description {
    display: block;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif; } }

@media screen and (min-width: 992px) {
  .feature__img-container {
    max-height: 34rem;
    min-height: 34rem;
    overflow: hidden;
    width: 100%; } }

.newsletter {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem; }

.newsletter__btn {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: #fff 0 1px 1px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  background-color: #E5E5E5;
  border: 1px solid black;
  color: #333333;
  display: inline-block;
  flex: 0 0 auto;
  font-size: 1.2rem;
  margin: 0 1rem;
  position: relative; }

.newsletter__btn:hover {
  text-decoration: none; }

.newsletter__btn:hover:after {
  transition: 0.2s all;
  background-color: #34AC98;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3; }

.newsletter__icon {
  flex: 1 1 auto;
  font-size: 2.6rem;
  margin: 0 1rem; }

.newsletter__input {
  border: 1px solid #AAAAAA;
  flex: 1 1 20rem;
  font-size: 1.6rem;
  text-indent: 0.5rem; }

.newsletter__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; }

.newsletter__text {
  font-size: 1.2rem;
  flex: 2 2 auto; }

@media screen and (min-width: 768px) {
  .newsletter {
    display: flex;
    justify-content: space-between; } }

.posts {
  margin: 1rem 2rem; }

.post {
  margin: 3rem auto;
  width: 100%; }

.post__date {
  color: #AAAAAA;
  font-size: 1.6rem; }

.post__link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color;
  color: #34AC98;
  border-bottom: 1px dashed #E5E5E5; }

.post__link:hover {
  color: inherit;
  text-decoration: none;
  color: #EC6635; }

.post__link--more {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color;
  color: #34AC98; }

.post__link__img-container {
  display: block;
  position: relative; }

.post__link__thumbnail-container {
  overflow: hidden;
  width: 100%; }

.post__link__thumbnail-container:after {
  transition: 0.2s all;
  background-color: white;
  display: block;
  content: "";
  opacity: 0; }

.post__link:hover .post__link__thumbnail-container:after {
  background-color: white;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20; }

.post__link__thumbnail-container__img {
  transition: 1s all;
  background-color: white;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  overflow: hidden;
  width: 100%; }

.post__link:hover .post__link__thumbnail-container__img {
  transform: scale(1.2); }

.post__link__title {
  font-size: 1.6rem;
  padding: 1rem 0; }

.post__text {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 1rem; }

@media screen and (min-width: 480px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .post {
    margin: 3rem 2rem;
    width: calc(50% - 4rem); } }

@media screen and (min-width: 768px) {
  .post {
    margin: 3rem 1rem;
    width: calc(25% - 2rem); } }

.footer {
  align-items: flex-start;
  border-top: 1px solid #E5E5E5;
  color: #AAAAAA;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 2rem 1rem; }

.footer__icon {
  transition: 0.2s color;
  font-size: 2.6rem;
  margin: 0 0.5rem; }

.footer__icon:hover {
  color: black; }

.footer__link {
  color: #34AC98;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color; }

.footer__link:hover {
  color: #EC6635;
  text-decoration: none; }

.footer__section {
  flex: 1 1 auto; }
