//
// animation slide
//
.ani-slide-left-right {
  animation-name           : logo-in-animation;
  animation-delay          : 1s;
  animation-duration       : 1.2s;
  animation-fill-mode      : forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}
@keyframes slide-left-right-animation {
  0% {
    transform: translateX(100%);
  }
  80% {
    // transform: translateY(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
